* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    background-image: url(images/pastrybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {      
    flex: 1;
    margin-bottom: -50px;
    margin-top: 100px;
}



#logo-nav-div {
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    position: fixed;
}

#logo-div, #nav-div {
    width: 50%;
    min-height: 70px;
    background-color: grey;
    line-height: 50px;
    float: left;
}

#nav-div {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#main-div {
    width: 100%;
    min-height: 400px;
    padding-top: 55px;
}

#main-div1 {
    width: 100%;
    min-height: 400px;
    padding-top: 60px;
}

#main-div1 .box {
    width: 30%;
    min-height: 400px;
    background-color: lightgray;
    float: left;
    text-align: center;
    line-height: 400px;
}

#main-div1 .box:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
}

#main-div1 .image-container {
    width: 30%;
    min-height: 400px;
    margin-bottom: 20px;
    background-color: lightgray;
    float: left;
    margin-left: 12%;
    margin-right: 4%;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.description {
    font-size: 14px;
    color: #555;
}

.about-section, .contact-section {
    padding: 20px;
    background: lightgrey;
    border-radius: 8px;
    border-style: ridge;
    text-align: center;
    margin: 20px auto;
    width: 80%;
}

.about-section h1, .contact-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}

header, nav, main, footer {
    padding: 1em;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 22%;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
}

.menu-img {
    width: 100%;
    height: auto;
}

.price {
    font-size: 1.2em;
    color: #333;
}

h1, h2 {
    text-align: center;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

#nav-div a {
    text-decoration: none;
    color: white;
    padding: 20px;
}



footer {
    background-color: grey;
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: left;
    margin-top: auto;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 40px;
}

.info {
    margin-top: 15px;
    text-align: left;
}

.name {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.email {
    font-style: italic;
    font-weight: bold;
    color: white;
    margin-top: 0;
}

#wrapper-div {
    width: 100%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

input[type="checkbox"] {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 250px;
    height: 100%;
    background: #333;
    padding-top: 60px;
    transform: translateX(-250px);
    transition: transform 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background: #575757;
}

.toggle-btn {
    position: fixed;
    top: 0;
    left: 0px;
    font-size: 30px;
    color: white;
    background: #333;
    padding: 15px;
    cursor: pointer;
    z-index: 2;
    transition: left 0.3s ease;
}

.category-nav {
    position: sticky;
    top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    
}

.category-link {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin: 0 5px;
    cursor: pointer;
}

.category-link.active {
    background-color: #28a745;
    color: white;
}

.category-section {
    margin-bottom: 40px;
}

input[type="checkbox"]:checked ~ .sidebar {
    transform: translateX(0);
}

input[type="checkbox"]:checked ~ .toggle-btn {
    left: 0px;
}
